.small_icons img { width: 20px;float: left; margin-right: 3px;}
.active_file { color: #F00;}
.active_file:hover{color: #F00;}
.te_error {
	color: #F00;
    border-left: 3px solid #F00;
    padding: 5px 5px !important;
    border-top: 1px solid #F00;
    border-bottom: 1px solid #F00;
    margin: 5px 0px;
    border-right: 1px solid #F00;
    background: #fff7f7;
    font-weight: 600;
	}

.te_success {
	 color:#093;
     border-left: 3px solid #093;
    padding: 5px 5px !important;
    border-top: 1px solid #093;
    border-bottom: 1px solid #093;
    margin: 5px 0px;
    border-right: 1px solid #093;
    background: #fff7f7;
    font-weight: 600;
}
.theme_action_section {
    padding: 10px;
}
#templateside h3 {
    margin-left: 7px;
}
/* .subfolders li a{
	margin-left:20px;
} */
.fmmrs {
  width: 100%;
    background: #f5f5f5;
    border: 1px solid #cdcdcd;
    border-left: 4px solid #0073aa;
 padding: 5px 0px 15px;
}
.fmmrs .l_wfmrs { width:200px; float:left;}
.fmmrs .l_wfmrs img {float: left; padding: 10px;}
.fmmrs .r_wfmrs {float:left;     padding: 5px 10px 15px;}
.close_fm_help {
 text-decoration:none;
    border-radius: 4px;
 padding: 5px 15px;
 color: #fff;
 font-size: 16px;
 margin:10px;
 }
.close_fm_help:hover{ color:#fff !important;}
.close_fm_help.fm_close_btn {
    float: right;
    cursor: pointer;
    text-decoration: none;
    background: #e00e0e;
    border-radius: 100%;
    padding: 0px 6px;
    display: block;
    color: #fff;
    font-size: 10px;
 margin: 0px;
}
.close_fm_help.fm_close_btn_1 {
    background: #fbc21c;
    border-bottom: 3px solid #b18400;
 margin-right:0px;
}
.close_fm_help.fm_close_btn_2 {
  background: #239200;
 border-bottom: 3px solid #155600;
 margin-right:0px;
}
.close_fm_help.fm_close_btn_3 {
  background: #ff1105;
   border-bottom: 3px solid #b30900;
}
.clear{ clear:both;}
.r_wfmrs strong{
 font-size:16px;
}
.fmmrs .r_wfmrs::after{ display:table;  content:''; clear:both;}


#wpfooter{ position:relative !important;}
.wrap .te_popup
{
    width: 100%;
    max-width: 350px;
    margin:0px auto;
}
.wrap .te_popup_message
{
	position: absolute;
    width: 100%;
    max-width: 300px;
    color: #fff;
    padding:30px 25px;
    border-radius: 5px;
    background: #0a6d34;
    text-align: center;
    margin-top: 15%;
    z-index: 9999;
}
.wrap .te_popup_message p
{
	color:#fff;
	font-size:18px;
	font-weight:800;
}
.clear{clear:both;}
#templateside li {
	outline:none !important;
	box-shadow:none;
}
#templateside ul li a:focus, .nav-tab li a:focus
{
	outline:none !important;
	box-shadow:none;
	color: #F00;
}
.lokhal_verify_email_popup{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:none;
	z-index: 100;
}
.lokhal_verify_email_popup_overlay{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.5);
	display:none;
}
.lokhal_verify_email_popup .lokhal_verify_email_popup_tbl{
	display:table;
	width:100%;
	height:100%;
}
.lokhal_verify_email_popup .lokhal_verify_email_popup_tbl .lokhal_verify_email_popup_cel{
	display:table-cell;
	vertical-align:middle;
}
.lokhal_verify_email_popup .lokhal_verify_email_popup_tbl .lokhal_verify_email_popup_cel .popup_inner_lokhal{
	padding:0 40px;
}
.lokhal_verify_email_popup .lokhal_verify_email_popup_tbl .lokhal_verify_email_popup_cel .lokhal_verify_email_popup_content{
	background:#fff;
	max-width:700px;
	margin:0 auto;
	padding:30px;
	position: relative;
	text-align:center;
}
.lokhal_verify_email_popup .lokhal_verify_email_popup_tbl .lokhal_verify_email_popup_cel .lokhal_verify_email_popup_content .btn_dv{
	margin-top:30px;
}
.lokhal_verify_email_popup .lokhal_verify_email_popup_tbl .lokhal_verify_email_popup_cel .lokhal_verify_email_popup_content a.lokhal_cancel {
	position: absolute;
	right: 15px;
	top: 15px;
	text-decoration: none;
	/* font-size: 24px; */
	/* color: #016cb0; */
	/* border: 2px solid #016cb0; */
	/* border-radius: 50%; */
	/* width: 24px; */
	/* height: 24px; */
	/* line-height: 18px; */
	/* text-align: center; */
	/* font-weight: 600; */
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.lokhal_verify_email_popup .lokhal_verify_email_popup_tbl .lokhal_verify_email_popup_cel .lokhal_verify_email_popup_content a.lokhal_cancel:hover{
	/*color:#fff;
	background:#016cb0;*/
	opacity:0.8;
	transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.lokhal_verify_email_popup .lokhal_verify_email_popup_tbl .lokhal_verify_email_popup_cel .lokhal_verify_email_popup_content .lokhal_desc {
	/* text-transform: uppercase; */
	font-size: 16px;
	max-width: 450px;
	margin: 0 auto;
	margin-bottom: 30px;
	color: #808080;
}
.lokhal_verify_email_popup .lokhal_verify_email_popup_tbl .lokhal_verify_email_popup_cel .lokhal_verify_email_popup_content h3 {
	font-size: 36px;
	font-family:'Raleway';
	font-weight:700;
	color:#000;
	margin-bottom: 25px;
}
.lokhal_verify_email_popup .form_grp{
	overflow:auto;
	margin-bottom: 15px;
}
.lokhal_verify_email_popup .form_grp .form_twocol{
	width:50%;
	float:left;
	box-sizing:border-box;
	padding:0 5px;
}
.lokhal_verify_email_popup .form_grp .form_onecol{
	box-sizing: border-box;
padding: 0 5px;
}
.lokhal_verify_email_popup .form_grp input {
	width: 100%;
	border: 1px solid #ddd;
	box-shadow: none !important;
	padding: 10px;
}
.lokhal_verify_email_popup .fm_bot_links {
	border-top:1px solid #ddd;
	padding-top:20px;
	margin-top: 40px;
}
.lokhal_verify_email_popup .fm_bot_links a{
	font-size:16px;
	text-decoration:none;
	margin: 0 15px;
	color:#016cb0;
}
.lokhal_verify_email_popup .btn_dv .verify_local_email {
	background: #016cb0 !important;
	width:165px;
	height:50px;
	padding: 0;
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	margin-right: 15px;
	font-weight: 700;
}
.lokhal_verify_email_popup .btn_dv .verify_local_email .btn-text {
	display: inline-block;
	padding: 0 15px;
	margin-right: 0;
	vertical-align: middle;
	float: left;
	line-height: inherit;
	height: 50px;
	padding-top: 12px;
	box-sizing: border-box;
	width: 109px;
}
.lokhal_verify_email_popup .btn_dv .verify_local_email .btn-text-icon {
	display: inline-block;
	width: 56px;
	text-align: center;
	vertical-align: middle;
	float: left;
	line-height: inherit;
	border-radius: 0 3px 3px 0;
	position: relative;
	overflow: hidden;
	background: #004270;
	height: 50px;
	padding-top: 14px;
	box-sizing: border-box;
}
.lokhal_verify_email_popup .btn_dv .verify_local_email:hover .btn-text-icon img{
	-webkit-animation-name: moving;
  -webkit-animation-duration: 0.8s;
}
.lokhal_verify_email_popup .btn_dv .verify_local_email:hover .btn-text-icon {
	background: #012842;
}
.lokhal_verify_email_popup .btn_dv .lokhal_cancel{
	border:2px solid #016cb0;
	font-size: 16px;
	text-transform: uppercase;
	height: inherit;
	background:#fff;
	width:165px;
	height:50px;
	margin-left: 15px;
	font-weight: 700;
}
.lokhal_verify_email_popup .btn_dv .lokhal_cancel:hover{
	border:2px solid #016cb0;
	background:#fff;
}
.error_msg {
	color: #F00;
	display: none;
}



.ms_theme_conatiner_full_width .CodeMirror{
 width:100% !important;
}


.CodeMirror{
	width:100% !important;
}
